@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Bootstrapのbuttonスタイルをリセット（Tailwindのスタイルを優先） */
button:not(.btn) {
  border-radius: 0.5rem !important; /* rounded-lg の値 */
}
